/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19/06/2023, 4:17:05 p. m.
    Author     : adria
*/
.column-header-background{
    -fx-background-color: transparent;
    -fx-padding: 15;
    -fx-spacing: 15;
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size:15px;
}

.table-view{
    -fx-background-color: transparent;
    /*-fx-text-fill: white;*/
    -fx-fill: white;
    -fx-size:30;
}
.column-header{
    -fx-background-color: transparent;
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size:20;
    -fx-text-alignment: center;
}
/*.column-header .label{
    -fx-background-color: #E6E6E6;
}*/

.row-selection{
    -fx-background-color: red;
}
.column-row{
    -fx-background-color: transparent;
}
.cell-arrow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 20, 0, 0, 0);
}
.cell{
    -fx-background-color: #E6E6E6;
    -fx-background-radius: 10;
    -fx-background-insets: 5;
    -fx-border-insets: 5;
    /*-fx-border-radius: 10;*/
    /*-fx-background-color: red;*/
    -fx-text-fill: #1E1E1E;
    -fx-alignment: CENTER;
/*    -fx-text-alignment: CENTER;*/
    -fx-font-weight: bold;
    -fx-font-size:15;
   
}


